body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#666;
	background:#f1f1f1;
}

header {
	background:#1f232c;
}

header .header-logo {
	display:inline-block;
	overflow:hidden;
	margin:6px auto;
}



h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	margin:0;
}
p,ul {
	margin:0;
	padding:0;
}
ul li {
	list-style:none;
}
ul.with-disc {
	margin:auto;
	padding:auto;
	padding-left:30px;
}
ul.with-disc li {
	list-style:disc;
}
.input-group-addon {
	border-radius:0;
}

[class*="col-"]{ 
	overflow:hidden;
}
.overflow-hidden {
	overflow:hidden;
}
/** General Style */
*:focus{
    outline:none !important;
}
img {
	vertical-align:middle;
	max-width:100%;
	width:auto;
}
.media img {
	max-width:none;
}

a.link-white {
	color:#FFF;
}
a.link-white:focus,
a.link-white:active,
a.link-white:hover {
	opacity:.5;
}

a.link-underline {
	text-decoration:underline !important;
}
.font-10 {
	font-size:10px;
}
.font-12 {
	font-size:12px;
}
.font-16 {
	font-size:16px !important;
}
.font-18 {
	font-size:18px !important;
}
.font-25 {
	font-size:25px !important;
}
.font-40 {
	font-size:40px !important;
}
.font-36 {
	font-size:36px !important;
	line-height:36px;
}
/** Margins **/

.mar-top-5 {
	margin-top:5px;
}
.mar-top-10 {
	margin-top:10px;
}
.mar-top-15 {
	margin-top:15px;
}
.mar-top-20 {
	margin-top:20px;
}
.mar-top-25 {
	margin-top:25px;
}
.mar-top-30 {
	margin-top:30px;
}
.mar-top-35 {
	margin-top:35px;
}
.mar-top-40 {
	margin-top:40px;
}
.mar-top-45 {
	margin-top:45px;
}
.mar-top-50 {
	margin-top:50px;
}
.mar-top-55 {
	margin-top:55px;
}
.mar-top-60 {
	margin-top:60px;
}
.mar-top-70 {
	margin-top:70px;
}
.mar-top-80 {
	margin-top:80px;
}
.mar-top-90 {
	margin-top:90px;
}
.mar-top-100 {
	margin-top:100px;
}
.mar-top-120 {
	margin-top:120px;
}



.mar-btm-5 {
	margin-bottom:5px;
}
.mar-btm-10 {
	margin-bottom:10px;
}
.mar-btm-15 {
	margin-bottom:15px;
}
.mar-btm-20 {
	margin-bottom:20px;
}
.mar-btm-25 {
	margin-bottom:25px;
}
.mar-btm-30 {
	margin-bottom:30px;
}
.mar-btm-35 {
	margin-bottom:35px;
}
.mar-btm-40 {
	margin-bottom:40px;
}
.mar-btm-45 {
	margin-bottom:45px;
}
.mar-btm-50 {
	margin-bottom:50px;
}
.mar-btm-55 {
	margin-bottom:55px;
}
.mar-btm-60 {
	margin-bottom:60px;
}
.mar-btm-70 {
	margin-bottom:70px;
}
.mar-btm-80 {
	margin-bottom:80px;
}
.mar-btm-90 {
	margin-bottom:90px;
}
.mar-btm-100 {
	margin-bottom:100px;
}

/** text styles **/

h1 {
	font-size:35px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:25px;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}


.text-right {
	text-align:right;
}
.text-center {
	text-align:center;
}
.text-left {
	text-align:left;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-light {
	font-weight:300;
}
.text-regular {
	font-weight:400;
}
.text-semi-bold {
	font-weight:600;
}
.text-bold{
    font-weight:700;
}
.text-extra-bold{
    font-weight:800;
}
.text-uppercase {
	text-transform:uppercase;
}
.text-striked {
	text-decoration: line-through;
}


.text-grey {
	color:#666;
}
.text-lightgrey {
	color:#999;
}
.text-white {
	color:#FFF;
}
.text-blue {
	color:#2f91eb;
}
.text-red {
	color:#e85750;
}
.text-green {
	color:#009903;
}

.btn-full-width {
	width:100%;
}

/** BTN styles **/.btn {
  /*   padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; */
	font-size:14px;
	padding-left:20px;
	padding-right:20px;
	border-radius:2px;
	font-weight:400;
	line-height:40px;
	text-transform:uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-blue {
    background: #2f91eb;
    color: #FFF;
}
 
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .dropdown-toggle.btn-blue {
    background: #207cd0;
	color:#FFF;
}
 
.btn-blue:active, .btn-blue.active {
    background: #207cd0;
    box-shadow: none;
	color:#FFF;
}


.form-control {
	border-color:#d7d7d7;
	border-radius:2px;
}

.wrapper {
	padding-bottom:30px;
	overflow:hidden;
}

/** box **/

	
.white-box {
	background:#FFF;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(54,54,54,.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(54,54,54,.2);
	box-shadow: 0px 0px 3px 0px rgba(54,54,54,.2);
	padding:10px;
	overflow:hidden;
}



/** Legents **/
.legents-wrap {
	overflow:hidden;
}
ul.legents-wrap {
	font-size:12px;
	overflow:hidden;
}

ul.legents-wrap li {
	float:left;
	margin-left:25px;
	position:relative;
}

ul.legents-wrap li:before {
	position:absolute;
	left:-12px;
	top:4px;
	width:9px;
	height:9px;
	content:"";
}

ul.legents-wrap li.bg-color1:before {
	background:#009ece;
}
ul.legents-wrap li.bg-color2:before {
	background:#ff2468;
}
ul.legents-wrap li.bg-color3:before {
	background:#81aa52 ;
}
ul.legents-wrap li.bg-color4:before {
	background:#f40000;
}
ul.legents-wrap li.bg-color5:before {
	background:#f2c12e;
}
ul.legents-wrap li.bg-color6:before {
	background:#81aa52;
}


.lv-track-emp-travel-status > div {
	border-left:solid 1px #CCC;
}

.lv-track-emp-travel-status > div:first-child {
	border-left:0 none;
}

.progress {
	border-radius: 0;
	height:10px;
}

.progress-bar-info {
	background:#009ece;
}

.progress-bar-danger {
	background:#ff2468;
}
.progress-bar-success{
	background:#81aa52;
}



.lv-track-emp-travel-status .progress  {
	background:none;
	box-shadow:none;
	margin-bottom:0;
	margin-top:15px;
	margin-right:15px;
	overflow:visible;
}

.lv-track-emp-travel-status .progress .progress-bar{
	position:relative;
}
.lv-track-emp-travel-status .progress .progress-bar .count {
	position:absolute;
	right:-15px;
	color:#333;
	font-size:11px;
	top:-5px;
}


.lv-tracking-trip-status-counts {
	height: auto;
    overflow: hidden;
    padding-top: 12px;
}

.lv-tracking-trip-status-counts > div {
	position:relative;
	text-align:center;
	font-size:24px;
	font-weight:400;
	border-right:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	line-height:60px;	
	overflow:visible;
}

.lv-tracking-trip-status-counts > div:first-child {
	border-left:solid 1px #CCC;
}

.lv-tracking-trip-status-counts > div:before {
	position:abosolute;
	top:-10px;
	height:10px;
	left:-1px;
	right:-1px;
	content:"";
	position:absolute;
}

.lv-tracking-trip-status-counts > div:first-child:before {
	background:#f40000;
}
.lv-tracking-trip-status-counts > div:first-child + div:before {
	background:#ffc32d;
}
.lv-tracking-trip-status-counts > div:last-child:before {
	background:#81aa52;
}

.lv-track-panic-alarm-stat-wrap .font-40 {
	line-height:30px;
}

.lv-track-panic-alarm-stat-wrap > div {
	border-left:solid 1px #CCC;
}
.lv-track-panic-alarm-stat-wrap > div:first-child {
	border-left:0 none;
}

.lv-track-map-pointer-wrap {
	overflow:hidden;
}
.lv-track-map-pointer-wrap img {
	float:left;
	margin-right:10px;
}

.lv-track-map-pointer-wrap div.tb-row > div {
	padding-top:15px;
	padding-bottom:15px;
}

.lv-track-map-pointer-wrap div.tb-row {
	border-bottom:solid 1px #CCC;
	overflow:hidden;
}
.lv-track-map-pointer-wrap div.tb-row:last-child  {
	border-bottom:0 none !important;
}
.lv-track-map-pointer-wrap div.tb-row:last-child > div:first-child {
	border-right:solid 1px #CCC;
}
.lv-track-map-pointer-wrap div.tb-row:last-child > div:first-child + div {
	
	border-left:0 none;
}
.lv-track-map-pointer-wrap div.tb-row > div:first-child + div {
	border-left:solid 1px #CCC;
}

.lv-track-map-filter-wrap > div {
	padding-left:5px;
	padding-right:5px;
}
.lv-track-map-filter-wrap > div.col-sm-1 {
	width:5%;
}
.lv-track-map-filter-wrap > div.col-sm-5 {
	width:44.33333333%;
}




/** page heading **/

