body { 
    padding-top: 65px; 
	color : #ffffff;
}
.jumbotron {
    background-color:#0084b4 !important; 
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
}